<mat-toolbar color="primary">  <mat-toolbar-row>
  <span>Shailender's Portfolio</span>  <span class="spacer"></span>  <div class="desktop-nav">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/project">Project</a>
    <a mat-button routerLink="/contact">Contact</a>
  </div>

  <button mat-icon-button class="mobile-menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar-row>

<div class="mobile-menu" *ngIf="isMenuOpen">
  <a mat-button routerLink="/" (click)="toggleMenu()">Home</a>
  <a mat-button routerLink="/project" (click)="toggleMenu()">Project</a>
  <a mat-button routerLink="/contact" (click)="toggleMenu()">Contact</a>
</div>
</mat-toolbar>
<router-outlet />
